In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Datasets downloaded from https://datasets.imdbws.com

In [ ]:
title_df = pd.read_csv('/Users/parkerharalds/Downloads/title.basics.tsv', delimiter='\t')

In [6]:
title_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
title_df['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [8]:
movie_title = title_df[title_df['titleType']=='movie']

In [9]:
movie_title

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
11201468,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
11201495,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
11201507,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11201517,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
11201527,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [10]:
ratings_df = pd.read_csv('/Users/parkerharalds/Downloads/title.ratings.tsv', delimiter='\t')

In [11]:
ratings_df

            tconst  averageRating  numVotes
0        tt0000001            5.7      2096
1        tt0000002            5.6       282
2        tt0000003            6.5      2109
3        tt0000004            5.4       182
4        tt0000005            6.2      2843
...            ...            ...       ...
1493157  tt9916730            7.0        12
1493158  tt9916766            7.1        24
1493159  tt9916778            7.2        37
1493160  tt9916840            6.9        11
1493161  tt9916880            7.9         9

[1493162 rows x 3 columns]

In [12]:
cast_df = pd.read_csv('/Users/parkerharalds/Downloads/title.crew.tsv', delimiter='\t')

In [13]:
cast_df.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [14]:
name_df = pd.read_csv('/Users/parkerharalds/Downloads/name.basics.tsv', delimiter='\t')

In [15]:
name_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

Will now merge df together to get main_df

In [19]:
movies = pd.merge(movie_title,ratings_df,on='tconst')

In [20]:
movie_df = pd.merge(movies,cast_df,on='tconst')

In [21]:
movie_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318325,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432"
318326,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N
318327,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404"
318328,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903
318329,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612

In [26]:
#renaming directors column for merge
movie_df = movie_df.rename(columns={'directors':'nconst'})

In [28]:
main_df = pd.merge(movie_df,name_df,on='nconst')

In [29]:
main_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,nconst,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388",Ricardo de Baños,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879,Charles Tait,1868,1933,"director,writer",tt0000574
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150,Michel Carré,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433627"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284959,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432",Pablo Agüero,1977,\N,"director,writer,producer","tt2953182,tt0800964,tt1403041,tt1143153"
284960,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N,Jixing Wang,\N,\N,"director,writer","tt0340445,tt0344062,tt0351226,tt1267271"
284961,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404",Azhar Kinoi Lubis,\N,\N,"director,assistant_director,actor","tt5774688,tt1930290,tt5185980,tt8517144"
284962,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282"
284963,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612,Kiran Gawade,\N,\N,"director,writer",tt9916730

In [35]:
main_df.sort_values(by='numVotes',ascending=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,nconst,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
57834,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,9.3,2956432,nm0001104,"nm0000175,nm0001104",Frank Darabont,1959,\N,"writer,producer,director","tt0120689,tt0111161,tt0884328,tt1520211"
127879,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama",9.0,2938168,nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
164712,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi",8.8,2607377,nm0634240,nm0634240,Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
67080,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,Drama,8.8,2388636,nm0000399,"nm0657333,nm0880243",David Fincher,1962,\N,"producer,director,writer","tt0114369,tt0443706,tt2267998,tt1285016"
57144,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",8.8,2313586,nm0000709,"nm0343165,nm0744839",Robert Zemeckis,1952,\N,"producer,writer,director","tt0088763,tt0109830,tt0118884,tt1907668"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164550,tt13723784,movie,Gosia@Tomek,Gosia@Tomek,0,2021,\N,90,Documentary,7.8,5,nm4380217,nm4380217,Christine Jezior,\N,\N,"director,writer,producer","tt13723784,tt15019970,tt9437008,tt12533806"
220370,tt28337684,movie,Old Street,Old Street,0,2023,\N,86,Drama,9.4,5,nm15031582,nm15031582,Sol Baldi,\N,\N,"director,writer,producer","tt28337684,tt32590806"
109106,tt0325787,movie,Manushulu Marali,Manushulu Marali,0,1969,\N,\N,Drama,8.4,5,nm0710615,"nm0080270,nm1006596",V. Madhusudan Rao,1917,2012,"director,writer,producer","tt0371968,tt0263022,tt0263915,tt0186872"
157238,tt12778530,movie,Tz'üntz'ü,Tz'üntz'ü,0,2020,\N,33,Documentary,8.4,5,nm11766556,\N,Salvador Martinez Chacruna,\N,\N,"director,camera_department,producer","tt15524352,tt12778530,tt14013214"
276643,tt8378288,movie,"Jouis par-derrière, j'aime tout","Jouis par-derrière, j'aime tout",1,1980,\N,65,Adult,3.8,5,nm0135781,nm0135781,Michel Caputo,1947,\N,"director,writer,actor","tt0091025,tt1184999,tt0084903,tt0173894"