In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Datasets downloaded from https://datasets.imdbws.com

In [14]:
title_df = pd.read_csv('/Users/parkerharalds/Downloads/title.basics.tsv', delimiter='\t')

/var/folders/0k/y2qbjrj17tx6k7cdjb67jg100000gn/T/ipykernel_46058/1126940356.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_df = pd.read_csv('/Users/parkerharalds/Downloads/title.basics.tsv', delimiter='\t')

In [15]:
title_df[title_df['primaryTitle']=='Star Wars: Episode VII - The Force Awakens']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
6117964,tt2488496,movie,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0,2015,\N,138,"Action,Adventure,Sci-Fi"
9105905,tt5289954,tvEpisode,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,0,2015,\N,34,"Documentary,Short"

In [16]:
title_df['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [17]:
movie_title = title_df[title_df['titleType']=='movie']

In [18]:
movie_title

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
11201468,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
11201495,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
11201507,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11201517,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama
11201527,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [19]:
ratings_df = pd.read_csv('/Users/parkerharalds/Downloads/title.ratings.tsv', delimiter='\t')

In [20]:
ratings_df

            tconst  averageRating  numVotes
0        tt0000001            5.7      2096
1        tt0000002            5.6       282
2        tt0000003            6.5      2109
3        tt0000004            5.4       182
4        tt0000005            6.2      2843
...            ...            ...       ...
1493157  tt9916730            7.0        12
1493158  tt9916766            7.1        24
1493159  tt9916778            7.2        37
1493160  tt9916840            6.9        11
1493161  tt9916880            7.9         9

[1493162 rows x 3 columns]

In [21]:
cast_df = pd.read_csv('/Users/parkerharalds/Downloads/title.crew.tsv', delimiter='\t')

In [22]:
cast_df

,tconst,directors,writers
0,tt0000001,nm0005690,\N
1,tt0000002,nm0721526,\N
2,tt0000003,nm0721526,\N
3,tt0000004,nm0721526,\N
4,tt0000005,nm0005690,\N
...,...,...,...
10539795,tt9916848,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10539796,tt9916850,nm1485677,"nm9187127,nm1485677,nm9826385,nm1628284"
10539797,tt9916852,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10539798,tt9916856,nm10538645,nm6951431
10539799,tt9916880,nm0996406,"nm1482639,nm2586970"

In [23]:
name_df = pd.read_csv('/Users/parkerharalds/Downloads/name.basics.tsv', delimiter='\t')

In [24]:
name_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"
...,...,...,...,...,...,...
13909144,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
13909145,nm9993716,Essias Loberg,\N,\N,\N,\N
13909146,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
13909147,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
13909148,nm9993719,Andre Hill,\N,\N,\N,\N

Will now merge df together to get main_df

In [25]:
movies = pd.merge(movie_title,ratings_df,on='tconst')

In [26]:
movies.sort_values('numVotes',ascending=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
62297,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,9.3,2956432
139042,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama",9.0,2938168
180884,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi",8.8,2607377
72330,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,Drama,8.8,2388636
61563,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",8.8,2313586
...,...,...,...,...,...,...,...,...,...,...,...
296392,tt6723148,movie,One Year in Blue,One Year in Blue,0,2017,\N,\N,Documentary,9.0,5
189515,tt14826206,movie,Shanti Shanti Shanti,Shanti Shanti Shanti,0,1998,\N,\N,Drama,6.2,5
189512,tt14825936,movie,Sudhu Ekbar Bolo,Sudhu Ekbar Bolo,0,1999,\N,\N,Romance,7.0,5
157760,tt10908516,movie,Poovalliyum Kunjadum,Poovalliyum Kunjadum,0,2019,\N,122,Drama,4.8,5
241279,tt27427722,movie,Forglemmegei,Forglemmegei,0,2023,\N,77,Documentary,8.6,5

In [27]:
movie_df = pd.merge(movies,cast_df,on='tconst')

In [28]:
movie_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318325,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432"
318326,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N
318327,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404"
318328,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903
318329,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612

In [29]:
#renaming directors column for merge
movie_df = movie_df.rename(columns={'directors':'nconst'})

In [30]:
main_df = pd.merge(movie_df,name_df,on='nconst')

In [31]:
main_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,nconst,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388",Ricardo de Baños,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941"
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879,Charles Tait,1868,1933,"director,writer",tt0000574
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150,Michel Carré,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433627"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284959,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432",Pablo Agüero,1977,\N,"director,writer,producer","tt2953182,tt0800964,tt1403041,tt1143153"
284960,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N,Jixing Wang,\N,\N,"director,writer","tt0340445,tt0344062,tt0351226,tt1267271"
284961,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404",Azhar Kinoi Lubis,\N,\N,"director,assistant_director,actor","tt5774688,tt1930290,tt5185980,tt8517144"
284962,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282"
284963,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612,Kiran Gawade,\N,\N,"director,writer",tt9916730

In [32]:
main_df.sort_values(by='numVotes',ascending=False).head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,nconst,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
57834,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,9.3,2956432,nm0001104,"nm0000175,nm0001104",Frank Darabont,1959,\N,"writer,producer,director","tt0120689,tt0111161,tt0884328,tt1520211"
127879,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama",9.0,2938168,nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
164712,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi",8.8,2607377,nm0634240,nm0634240,Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
67080,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,Drama,8.8,2388636,nm0000399,"nm0657333,nm0880243",David Fincher,1962,\N,"producer,director,writer","tt0114369,tt0443706,tt2267998,tt1285016"
57144,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",8.8,2313586,nm0000709,"nm0343165,nm0744839",Robert Zemeckis,1952,\N,"producer,writer,director","tt0088763,tt0109830,tt0118884,tt1907668"
57693,tt0110912,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama",8.9,2270544,nm0000233,"nm0000233,nm0000812",Quentin Tarantino,1963,\N,"producer,writer,actor","tt0105236,tt0110912,tt0116367,tt7131622"
133180,tt0816692,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi",8.7,2183243,nm0634240,"nm0634300,nm0634240",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
34529,tt0068646,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama",9.2,2061054,nm0000338,"nm0701374,nm0000338",Francis Ford Coppola,1939,\N,"producer,director,writer","tt0078788,tt0071360,tt0071562,tt0068646"
62222,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama",8.9,2053933,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392",Peter Jackson,1961,\N,"producer,director,writer","tt0120737,tt0092610,tt0167260,tt0167261"
73825,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama",9.0,2024105,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392",Peter Jackson,1961,\N,"producer,director,writer","tt0120737,tt0092610,tt0167260,tt0167261"
162728,tt1345836,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Drama,Thriller",8.4,1867053,nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
59227,tt0114369,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery",8.6,1846570,nm0000399,nm0001825,David Fincher,1962,\N,"producer,director,writer","tt0114369,tt0443706,tt2267998,tt1285016"
73826,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama",8.8,1824878,nm0001392,"nm0866058,nm0909638,nm0101991,nm0801728,nm0001392",Peter Jackson,1961,\N,"producer,director,writer","tt0120737,tt0092610,tt0167260,tt0167261"
190435,tt1853728,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Comedy,Drama,Western",8.5,1736754,nm0000233,nm0000233,Quentin Tarantino,1963,\N,"producer,writer,actor","tt0105236,tt0110912,tt0116367,tt7131622"
75017,tt0172495,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama",8.5,1667675,nm0000631,"nm0291905,nm0517589,nm0629933",Ridley Scott,1937,\N,"producer,director,production_designer","tt3659388,tt0083658,tt0103074,tt2193215"
137593,tt0993846,movie,The Wolf of Wall Street,The Wolf of Wall Street,0,2013,\N,180,"Biography,Comedy,Crime",8.2,1629416,nm0000217,"nm1010540,nm0067789",Martin Scorsese,1942,\N,"producer,director,actor","tt5537002,tt0075314,tt0070379,tt0099685"
114587,tt0361748,movie,Inglourious Basterds,Inglourious Basterds,0,2009,\N,153,"Adventure,Drama,War",8.4,1625375,nm0000233,nm0000233,Quentin Tarantino,1963,\N,"producer,writer,actor","tt0105236,tt0110912,tt0116367,tt7131622"
116351,tt0372784,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Crime,Drama",8.2,1609815,nm0634240,"nm0004170,nm0275286,nm0634240",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
53810,tt0102926,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Thriller",8.6,1586744,nm0001129,"nm0365383,nm0848217",Jonathan Demme,1944,2017,"director,producer,writer","tt0102926,tt1084950,tt0107818,tt0368008"
269310,tt7286456,movie,Joker,Joker,0,2019,\N,122,"Crime,Drama,Thriller",8.4,1553819,nm0680846,"nm0680846,nm0798788,nm0004170,nm0277730,nm1047603",Todd Phillips,1970,\N,"producer,director,writer","tt7286456,tt1231583,tt0302886,tt0215129"
62276,tt0120815,movie,Saving Private Ryan,Saving Private Ryan,0,1998,\N,169,"Drama,War",8.6,1528623,nm0000229,nm0734441,Steven Spielberg,1946,\N,"producer,writer,director","tt0108052,tt0083866,tt0120815,tt0082971"
147568,tt1130884,movie,Shutter Island,Shutter Island,0,2010,\N,138,"Drama,Mystery,Thriller",8.2,1499599,nm0000217,"nm0436164,nm1212331",Martin Scorsese,1942,\N,"producer,director,actor","tt5537002,tt0075314,tt0070379,tt0099685"
56357,tt0108052,movie,Schindler's List,Schindler's List,0,1993,\N,195,"Biography,Drama,History",9.0,1482912,nm0000229,"nm0447745,nm0001873",Steven Spielberg,1946,\N,"producer,writer,director","tt0108052,tt0083866,tt0120815,tt0082971"
134346,tt0848228,movie,The Avengers,The Avengers,0,2012,\N,143,"Action,Sci-Fi",8.0,1481571,nm0923736,"nm0923736,nm0672015",Joss Whedon,1964,\N,"producer,writer,director","tt0118276,tt0848228,tt1259521,tt0162065"
39408,tt0076759,movie,Star Wars: Episode IV - A New Hope,Star Wars,0,1977,\N,121,"Action,Adventure,Fantasy",8.6,1476113,nm0000184,nm0000184,George Lucas,1944,\N,"writer,producer,director","tt0076759,tt0066434,tt0069704,tt0082971"
129459,tt0482571,movie,The Prestige,The Prestige,0,2006,\N,130,"Drama,Mystery,Sci-Fi",8.5,1473273,nm0634240,"nm0634300,nm0634240,nm1793993",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
120954,tt0407887,movie,The Departed,The Departed,0,2006,\N,151,"Crime,Drama,Thriller",8.5,1450255,nm0000217,"nm1184258,nm0538320,nm0159039",Martin Scorsese,1942,\N,"producer,director,actor","tt5537002,tt0075314,tt0070379,tt0099685"
62190,tt0120689,movie,The Green Mile,The Green Mile,0,1999,\N,189,"Crime,Drama,Fantasy",8.6,1441581,nm0001104,"nm0000175,nm0001104",Frank Darabont,1959,\N,"writer,producer,director","tt0120689,tt0111161,tt0884328,tt1520211"
41618,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,Star Wars: Episode V - The Empire Strikes Back,0,1980,\N,124,"Action,Adventure,Fantasy",8.7,1407238,nm0449984,"nm0102824,nm0001410,nm0000184",Irvin Kershner,1923,2010,"director,cinematographer,actor","tt0080684,tt0110725,tt0086006,tt0100502"
131178,tt0499549,movie,Avatar,Avatar,0,2009,\N,162,"Action,Adventure,Fantasy",7.9,1406740,nm0000116,nm0000116,James Cameron,1954,\N,"writer,producer,director","tt0499549,tt1630029,tt0090605,tt0103064"
36348,tt0071562,movie,The Godfather Part II,The Godfather Part II,0,1974,\N,202,"Crime,Drama",9.0,1392494,nm0000338,"nm0000338,nm0701374",Francis Ford Coppola,1939,\N,"producer,director,writer","tt0078788,tt0071360,tt0071562,tt0068646"
85194,tt0209144,movie,Memento,Memento,0,2000,\N,113,"Mystery,Thriller",8.4,1347041,nm0634240,"nm0634240,nm0634300",Christopher Nolan,1970,\N,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571"
46114,tt0088763,movie,Back to the Future,Back to the Future,0,1985,\N,116,"Adventure,Comedy,Sci-Fi",8.5,1339441,nm0000709,"nm0000709,nm0301826",Robert Zemeckis,1952,\N,"producer,writer,director","tt0088763,tt0109830,tt0118884,tt1907668"
61986,tt0120338,movie,Titanic,Titanic,0,1997,\N,194,"Drama,Romance",7.9,1310362,nm0000116,nm0000116,James Cameron,1954,\N,"writer,producer,director","tt0499549,tt1630029,tt0090605,tt0103064"
195511,tt2015381,movie,Guardians of the Galaxy,Guardians of the Galaxy,0,2014,\N,121,"Action,Adventure,Comedy",8.0,1293777,nm0348181,"nm0348181,nm2270979,nm3966115,nm5037683,nm2757...",James Gunn,1966,\N,"writer,producer,director","tt2015381,tt3896198,tt1333125,tt0439815"
52124,tt0099685,movie,Goodfellas,Goodfellas,0,1990,\N,145,"Biography,Crime,Drama",8.7,1286836,nm0000217,"nm0683380,nm0000217",Martin Scorsese,1942,\N,"producer,director,actor","tt5537002,tt0075314,tt0070379,tt0099685"
57436,tt0110413,movie,Léon: The Professional,Léon,0,1994,\N,110,"Action,Crime,Drama",8.5,1271487,nm0000108,nm0000108,Luc Besson,1959,\N,"writer,producer,director","tt0119116,tt0110413,tt2872732,tt0100263"
109132,tt0325980,movie,Pirates of the Caribbean: The Curse of the Bla...,Pirates of the Caribbean: The Curse of the Bla...,0,2003,\N,143,"Action,Adventure,Fantasy",8.1,1235838,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",Gore Verbinski,1964,\N,"director,producer,writer","tt1192628,tt0325980,tt4731136,tt1210819"
62014,tt0120382,movie,The Truman Show,The Truman Show,0,1998,\N,103,"Comedy,Drama",8.2,1233697,nm0001837,nm0629272,Peter Weir,1944,\N,"director,writer,producer","tt0311113,tt1023114,tt0090329,tt0097165"
74309,tt0169547,movie,American Beauty,American Beauty,0,1999,\N,122,Drama,8.3,1228084,nm0005222,nm0050332,Sam Mendes,1965,\N,"producer,director,miscellaneous","tt8579674,tt0257044,tt1074638,tt0959337"
135842,tt0910970,movie,WALL·E,WALL·E,0,2008,\N,98,"Adventure,Animation,Family",8.4,1227575,nm0004056,"nm0004056,nm0230032,nm0714114",Andrew Stanton,1965,\N,"writer,producer,actor","tt0910970,tt0266543,tt2277860,tt0120623"
97374,tt0266697,movie,Kill Bill: Vol. 1,Kill Bill: Vol. 1,0,2003,\N,111,"Action,Crime,Thriller",8.2,1220616,nm0000233,"nm0000233,nm0000235",Quentin Tarantino,1963,\N,"producer,writer,actor","tt0105236,tt0110912,tt0116367,tt7131622"
62126,tt0120586,movie,American History X,American History X,0,1998,\N,119,"Crime,Drama",8.5,1206566,nm0443411,nm0571346,Tony Kaye,1952,\N,"director,cinematographer,producer","tt1683526,tt0841119,tt0120586,tt28246392"
53880,tt0103064,movie,Terminator 2: Judgment Day,Terminator 2: Judgment Day,0,1991,\N,137,"Action,Adventure,Sci-Fi",8.6,1200014,nm0000116,"nm0000116,nm0936537",James Cameron,1954,\N,"writer,producer,director","tt0499549,tt1630029,tt0090605,tt0103064"
124169,tt0434409,movie,V for Vendetta,V for Vendetta,0,2005,\N,132,"Action,Drama,Sci-Fi",8.1,1195235,nm0574625,"nm0905152,nm0905154,nm2331222",James McTeigue,\N,\N,"director,producer,assistant_director","tt0434409,tt1486192,tt1186367,tt0133093"
168640,tt1431045,movie,Deadpool,Deadpool,0,2016,\N,108,"Action,Comedy",8.0,1174554,nm1783265,"nm1014201,nm1116660",Tim Miller,1964,\N,"producer,writer,director","tt9561862,tt6450804,tt1431045,tt4978420"
59412,tt0114814,movie,The Usual Suspects,The Usual Suspects,0,1995,\N,106,"Crime,Drama,Mystery",8.5,1164275,nm0001741,nm0003160,Bryan Singer,1965,\N,"producer,director,actor","tt0120903,tt0114814,tt0348150,tt1877832"
116189,tt0371746,movie,Iron Man,Iron Man,0,2008,\N,126,"Action,Adventure,Sci-Fi",7.9,1147456,nm0269463,"nm1318843,nm1319757,nm1436466,nm0391344,nm0498...",Jon Favreau,1966,\N,"producer,actor,writer","tt2883512,tt0371746,tt0117802,tt8111088"
44778,tt0086190,movie,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,0,1983,\N,131,"Action,Adventure,Fantasy",8.3,1141372,nm0549658,"nm0001410,nm0000184",Richard Marquand,1937,1987,"director,producer,writer","tt0086190,tt0107711,tt0089360,tt1043199"
165865,tt1392190,movie,Mad Max: Fury Road,Mad Max: Fury Road,0,2015,\N,120,"Action,Adventure,Sci-Fi",8.1,1135998,nm0004306,"nm0004306,nm0565068,nm0490147",George Miller,1945,\N,"producer,writer,director","tt1392190,tt0082694,tt0079501,tt0366548"

reading in revenue data from the-numbers

In [33]:
rev_df = pd.read_csv('Data/revenue.csv')

In [34]:
rev_df = rev_df.rename(columns={'Movie':'title'})

In [35]:
main_df = main_df.rename(columns={'primaryTitle':'title'})

In [36]:
main_df1 = pd.merge(main_df,rev_df,on='title')

In [37]:
main_df1

,tconst,titleType,title,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,Rank,Release\nDate,Production\nBudget,Domestic\nGross,Worldwide\nGross
0,tt0003337,movie,Robin Hood,Robin Hood,0,1913,\N,\N,Adventure,5.5,...,Theodore Marston,1868,1920,"director,writer","tt0003337,tt0007313,tt0290677,tt0410262",51,"May 14, 2010","$210,000,000.00","$105,487,148.00","$322,459,006.00"
1,tt0003337,movie,Robin Hood,Robin Hood,0,1913,\N,\N,Adventure,5.5,...,Theodore Marston,1868,1920,"director,writer","tt0003337,tt0007313,tt0290677,tt0410262",519,"Nov 21, 2018","$99,000,000.00","$30,824,628.00","$85,210,012.00"
2,tt0003772,movie,Cinderella,Cinderella,0,1914,\N,52,"Drama,Fantasy",6.1,...,James Kirkwood,1875,1963,"actor,director,writer","tt0010292,tt0373192,tt0009218,tt0125075",524,"Mar 6, 2015","$95,000,000.00","$201,151,353.00","$542,351,353.00"
3,tt0004696,movie,The Three Musketeers,The Three Musketeers,0,1914,\N,\N,Drama,5.4,...,Charles V. Henkel,\N,\N,director,tt0004696,598,"Oct 21, 2011","$90,000,000.00","$20,377,913.00","$139,877,913.00"
4,tt0004873,movie,Alice in Wonderland,Alice in Wonderland,0,1915,\N,52,"Adventure,Family,Fantasy",6.1,...,W.W. Young,\N,\N,"director,writer,editor","tt0004873,tt0151699",70,"Mar 4, 2010","$200,000,000.00","$334,191,110.00","$1,025,491,110.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,tt9777666,movie,The Tomorrow War,The Tomorrow War,0,2021,\N,138,"Action,Adventure,Drama",6.6,...,Chris McKay,1973,\N,"director,producer,editor","tt11358390,tt9777666,tt4116284,tt1490017",103,"Jul 2, 2021","$200,000,000.00",$0.00,"$19,220,000.00"
1283,tt9799878,movie,The Hunchback of Notre Dame,Glöckner von Notre Dame,0,1996,\N,65,Animation,1.9,...,Roswitha Haas,1940,2015,"director,writer,producer","tt29099329,tt2101313,tt29145194,tt9799878",478,"Jun 21, 1996","$100,000,000.00","$100,138,851.00","$325,500,000.00"
1284,tt9861522,movie,Ali,Ali,0,2019,\N,110,Drama,4.3,...,Ramazan Özer,1986,\N,director,"tt10392636,tt8825268,tt9861522,tt7966586",433,"Dec 25, 2001","$109,000,000.00","$58,183,966.00","$87,683,966.00"
1285,tt9892546,movie,Aladdin,Aladdin,0,2022,\N,104,"Drama,Musical,Romance",4.9,...,Vitaliy Versace,1979,\N,"producer,director,actor","tt2507538,tt6473952,tt7061890,tt1087431",129,"May 22, 2019","$182,000,000.00","$355,559,216.00","$1,046,587,513.00"
1286,tt9906218,movie,Unstoppable,Unstoppable,0,2019,\N,84,Documentary,7.8,...,Nick Willing,1961,\N,"writer,director,producer","tt0119893,tt0286594,tt3681794,tt1461312",531,"Nov 12, 2010","$95,000,000.00","$81,562,942.00","$165,720,921.00"

PROBLEM 1:

Need to make new nameid column with title and year? Some movies were remakes or have duplicate names. This means I can't merge revenue data

In [38]:
main_df.columns

Index(['tconst', 'titleType', 'title', 'originalTitle', 'isAdult', 'startYear',
       'endYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes',
       'nconst', 'writers', 'primaryName', 'birthYear', 'deathYear',
       'primaryProfession', 'knownForTitles'],
      dtype='object')

In [39]:
main_df['name_id'] = main_df['title'] + main_df['startYear']

In [40]:
main_df

,tconst,titleType,title,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,nconst,writers,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,name_id
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,215,nm0085156,nm0085156,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009,Miss Jerry1894
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,538,nm0714557,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676",The Corbett-Fitzsimmons Fight1897
2,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,nm0063413,"nm0063413,nm0657268,nm0675388",Ricardo de Baños,1884,1939,"director,cinematographer,writer","tt0002886,tt0004406,tt0024495,tt0000941",Bohemios1905
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,937,nm0846879,nm0846879,Charles Tait,1868,1933,"director,writer",tt0000574,The Story of the Kelly Gang1906
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,28,nm0141150,nm0141150,Michel Carré,1865,1945,"director,writer,actor","tt0000591,tt0433554,tt0431913,tt0433627",The Prodigal Son1907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284959,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,5930,nm1893148,"nm1893148,nm3471432",Pablo Agüero,1977,\N,"director,writer,producer","tt2953182,tt0800964,tt1403041,tt1143153",Coven2020
284960,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,nm0910951,\N,Jixing Wang,\N,\N,"director,writer","tt0340445,tt0344062,tt0351226,tt1267271",The Secret of China2019
284961,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404",Azhar Kinoi Lubis,\N,\N,"director,assistant_director,actor","tt5774688,tt1930290,tt5185980,tt8517144",Kuambil Lagi Hatiku2019
284962,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,8.4,8,nm7764440,nm7933903,Kanchan Nayak,\N,\N,"director,assistant_director","tt5242010,tt9916706,tt14077102,tt0452282",Dankyavar Danka2013
284963,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,nm10538612,nm10538612,Kiran Gawade,\N,\N,"director,writer",tt9916730,6 Gunn2017

In [41]:
rev_df['release_date'] = pd.to_datetime(rev_df['Release\nDate'], format='%b %d, %Y')

In [42]:
rev_df['year'] = rev_df['release_date'].dt.year.astype(str)

In [43]:
rev_df

,Rank,Release\nDate,title,Production\nBudget,Domestic\nGross,Worldwide\nGross,release_date,year
0,1,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$533,200,000.00","$936,662,225.00","$2,056,046,835.00",2015-12-16,2015
1,2,"Dec 9, 2022",Avatar: The Way of Water,"$460,000,000.00","$684,075,767.00","$2,317,514,386.00",2022-12-09,2022
2,3,"Jun 28, 2023",Indiana Jones and the Dial of Destiny,"$402,300,000.00","$174,480,468.00","$383,963,057.00",2023-06-28,2023
3,4,"Apr 23, 2019",Avengers: Endgame,"$400,000,000.00","$858,373,000.00","$2,748,242,781.00",2019-04-23,2019
4,5,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000.00","$241,071,802.00","$1,045,713,802.00",2011-05-20,2011
...,...,...,...,...,...,...,...,...
894,896,"Feb 8, 2002",Rollerball,"$70,000,000.00","$18,990,542.00","$25,852,508.00",2002-02-08,2002
895,897,"Jan 10, 2014",The Legend of Hercules,"$70,000,000.00","$18,848,538.00","$58,953,319.00",2014-01-10,2014
896,898,"Apr 27, 2007",Next,"$70,000,000.00","$18,211,013.00","$73,591,500.00",2007-04-27,2007
897,899,"Jun 28, 2023","Ruby Gillman, Teenage Kraken","$70,000,000.00","$15,753,600.00","$46,247,409.00",2023-06-28,2023
898,900,"Sep 20, 2002",Ballistic: Ecks vs. Sever,"$70,000,000.00","$14,294,842.00","$14,294,842.00",2002-09-20,2002

In [44]:
rev_df['name_id'] = rev_df['title'] + rev_df['year']

In [45]:
main_df1 = pd.merge(main_df,rev_df,on='name_id')

In [46]:
main_df1.sort_values('Worldwide\nGross',ascending=False)

,tconst,titleType,title_x,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,knownForTitles,name_id,Rank,Release\nDate,title_y,Production\nBudget,Domestic\nGross,Worldwide\nGross,release_date,year
228,tt0386117,movie,Where the Wild Things Are,Where the Wild Things Are,0,2009,\N,101,"Adventure,Drama,Family",6.7,...,"tt1798709,tt0120188,tt0386117,tt0120601",Where the Wild Things Are2009,481,"Oct 16, 2009",Where the Wild Things Are,"$100,000,000.00","$77,233,467.00","$99,123,656.00",2009-10-16,2009
235,tt0405469,movie,The Wild,The Wild,0,2006,\N,82,"Adventure,Animation,Comedy",5.2,...,"tt0110475,tt0107290,tt0076759,tt0096754",The Wild2006,727,"Apr 14, 2006",The Wild,"$80,000,000.00","$37,384,046.00","$99,010,667.00",2006-04-14,2006
135,tt0268695,movie,The Time Machine,The Time Machine,0,2002,\N,96,"Action,Adventure,Sci-Fi",6.0,...,"tt0268695,tt0120794,tt0424095,tt0166813",The Time Machine2002,715,"Mar 8, 2002",The Time Machine,"$80,000,000.00","$56,684,819.00","$98,983,590.00",2002-03-08,2002
124,tt0251075,movie,Evolution,Evolution,0,2001,\N,101,"Comedy,Sci-Fi",6.1,...,"tt1193138,tt0087332,tt0082509,tt0105477",Evolution2001,724,"Jun 8, 2001",Evolution,"$80,000,000.00","$38,311,134.00","$98,341,932.00",2001-06-08,2001
471,tt15398776,movie,Oppenheimer,Oppenheimer,0,2023,\N,180,"Biography,Drama,History",8.3,...,"tt6723592,tt0816692,tt1375666,tt0482571",Oppenheimer2023,456,"Jul 19, 2023",Oppenheimer,"$100,000,000.00","$329,862,540.00","$976,837,000.00",2023-07-19,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,tt3083016,movie,Beverly Hills Cop: Axel F,Beverly Hills Cop: Axel F,0,2024,\N,118,"Action,Comedy,Crime",6.5,...,"tt3083016,tt25377254,tt26218572,tt10131114",Beverly Hills Cop: Axel F2024,263,"Jul 3, 2024",Beverly Hills Cop: Axel F,"$150,000,000.00",$0.00,$0.00,2024-07-03,2024
347,tt0993840,movie,Army of the Dead,Army of the Dead,0,2021,\N,148,"Action,Crime,Drama",5.8,...,"tt0416449,tt0451279,tt12361974,tt0993840",Army of the Dead2021,602,"May 14, 2021",Army of the Dead,"$90,000,000.00",$0.00,$0.00,2021-05-14,2021
663,tt6679794,movie,Outlaw King,Outlaw King,0,2018,\N,121,"Action,Biography,Drama",6.9,...,"tt2567712,tt1439572,tt2582782,tt0466816",Outlaw King2018,383,"Nov 9, 2018",Outlaw King,"$120,000,000.00",$0.00,$0.00,2018-11-09,2018
645,tt5519340,movie,Bright,Bright,0,2017,\N,117,"Action,Fantasy,Thriller",6.3,...,"tt1855199,tt1742334,tt1386697,tt0433387",Bright2017,601,"Dec 13, 2017",Bright,"$90,000,000.00",$0.00,$0.00,2017-12-13,2017
463,tt1488606,movie,Triple Frontier,Triple Frontier,0,2019,\N,125,"Action,Thriller",6.5,...,"tt2937898,tt1615147,tt2017038,tt1488606",Triple Frontier2019,396,"Mar 6, 2019",Triple Frontier,"$115,000,000.00",$0.00,$0.00,2019-03-06,2019

Problem 2: Different naming conventions in revenue data

Maybe just replace :,- with spaces??

In [53]:
rev_df['title'] = rev_df['title'].replace({r'[:\-].': ' '}, regex=True)

In [57]:
rev_df['name_id'] = rev_df['name_id'].replace({r'[:\-].': ' '}, regex=True)

In [54]:
main_df['title'] = main_df['title'].replace({r'[:\-].': ' '}, regex=True)

In [58]:
main_df['name_id'] = main_df['name_id'].replace({r'[:\-].': ' '}, regex=True)

In [59]:
main_df2 = pd.merge(rev_df,main_df,on='name_id')